	<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employees</title>


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">

<style>
.fa{
font-size: 20px;
float: right;
}
.navbar-brand{
font-size: 30px;
color: #f1f1f1;
}
.dropbtn {
background-color: #4CAF50;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
background-color: #3e8e41;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}
/* The sidebar menu */
.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 160px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 100px; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

/* Style page content */
.main {
	margin-left: 160px; /* Same as the width of the sidebar */
	padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
</style>



</head>
<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Admin Module</a>
			</div>
			<div class="dropdown">
  <button id="myBtn" class="fa fa-user-alt"font-size:48px;><span sec:authentication="principal.username"></button>
  <div id="myDropdown" class="dropdown-content">
    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
   
  </div>
  <script>
// Get the button, and when the user clicks on it, execute myFunction
document.getElementById("myBtn").onclick = function() {myFunction()};
/* myFunction toggles between adding and removing the show class, which is used to hide and show the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}
</script>
			
	</nav>

	<br>
	<br>




	<div class="sidenav">
		<a href="/admin/listEmployees">Employees</a> <a href="/admin/rewardtype">Reward
			Type</a> <a href="/admin/rewards">Rewards</a> <a
			href="/admin/departmentlist">Department</a>
	</div>

	<!-- Use any element to open the sidenav -->
	<span onclick="openNav()">open</span>

	<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
	<div id="main">...</div>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${rewards}" class="container my-5">
					<p class="my-5">
						<a href="/admin/addrewards" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2"> Add Rewards</i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">No Employees yet!</h2> 
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>

										
										<th>EMPLOYEE NAME</th>
										<th>REWARD TYPE</th>
										<th>MONTH</th>
										<th>YEAR</th>
										 <!--<th>ACTION</th>-->
										
									</tr>
								</thead>
								<tbody>
							
							<tr th:each="rewards:${listrewards}">
										<td>[[${rewards.employee.emp_Name}]]</td>
										<td>[[${rewards.rewardType.Reward_Type}]]</td>
										<td>[[${rewards.months.Month}]]</td>
				 						<td>[[${rewards.years.Year}]]</td>
				 						      <!--    <td><a th:href="@{/rewards/deleteRewards/{Id}(Id=${rewards.Id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                   </td>-->
				    									
							</tr>
							</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>