<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Add User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<style>

/* The sidebar menu */
.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 160px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 100px; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

/* Style page content */
.main {
	margin-left: 160px; /* Same as the width of the sidebar */
	padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
</style>


<body>
<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Registration and
					Login Module</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="sidenav">
		<a href="/admin/listEmployees">Employees</a> <a href="/admin/rewardtype">Reward
			Type</a> <a href="/admin/rewards">Rewards</a> <a
			href="/admin/departmentlist">Department</a>
	</div>

	<!-- Use any element to open the sidenav -->
	<span onclick="openNav()">open</span>




	<div class="container my-5">
		<h3>Add Employee</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{/admin/addemployee}"
						th:object="${employee}" method="post"
						enctype="multipart/form-data">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="emp_Id" class="col-form-label">EMPLOYEE ID</label> <input
									type="text" th:field="*{emp_Id}" class="form-control"
									id="emp_Id" placeholder="emp_Id" required> <span
									th:if="${#fields.hasErrors('emp_Name')}" th:errors="*{emp_Id}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="emp_Name" class="col-form-label">EMPLOYEE NAME</label>
								<input type="text" th:field="*{emp_Name}" class="form-control"
									id="emp_Name" placeholder="emp_Name" required> <span
									th:if="${#fields.hasErrors('emp_Name')}"
									th:errors="*{emp_Name}" class="text-danger"></span>
							</div>

							<div class="form-group col-md-8">
								<label class="col-form-label">DEPARTMENT ID </label> <select
									th:field="*{department}" required>
									<th:block th:each="cat : ${listDepartment}">
										<option th:text="${cat.dept_Name}" th:value="${cat.dept_Id}" />
									</th:block>
								</select>

							</div>


							<div class="col-md-6">
								<input type="submit" class="btn btn-primary" value="Add">
							</div>



							<div class="form-group col-md-8"></div>



						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>



</html>