<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Update User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous">

<style>
.dropbtn {
background-color: #4CAF50;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
background-color: #3e8e41;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}


input[type="checkbox"]{
    position: relative;
    width: 40px;
    height: 20px;
    background: #bdc3c7;
    -webkit-appearance: none;
    border-radius: 10px;
    outline: none;
    transition: .4s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    
}
input[type="checkbox"]{
    background: #3498db
}
input[type="checkbox"]::before{
position: absolute;
content: "";
left: 0;
width: 20px;
height: 20px;
background: #fff;
border-radius: 50%;
transform: scale(1.1);
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
transition: .5s;
}
input:checked[type="checkbox"]::before{
left: 30px;

 

}
.toggle{
    position: relative;
    display: inline;
}
lable{
    position: absolute;
    color:    #fff;
    font-weight: 400;
    font-size: 15px;
    pointer-events: none;
}
.onbtn{
    bottom: 15px;
    left: 15px;
    
 }
 .ofbtn{
    bottom: 15px;
    right: 14px;
    
 }
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 100px; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

</style>





</head>
<body>
    <div class="container my-5">
    <h3> Update Employee</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-8">
                    <form action="#"
                        th:action="@{/admin/update}"
                        th:object="${employee}" method="post">
                        <div class="row">
                        <div class="form-group col-md-8">
                                <label for="emp_Id" class="col-form-label">Employee_Id</label> <input type="text" th:field="*{emp_Id}" class="form-control" id="emp_Id" placeholder="emp_Id"> <span th:if="${#fields.hasErrors('emp_Name')}" th:errors="*{emp_Id}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="emp_Name" class="col-form-label">Employee_Name</label> <input type="text" th:field="*{emp_Name}" class="form-control" id="emp_Name" placeholder="emp_Name"> <span th:if="${#fields.hasErrors('emp_Name')}" th:errors="*{emp_Name}" class="text-danger"></span>
                            </div>
                            
                            
                            
 					<div class="form-group col-md-8">	
					<label class="col-form-label">Deparment Id </label>
					
						<select th:field="*{department}"  required>
							<th:block th:each="employee : ${listDepartment}">
								<option th:text="${employee.dept_Id}" th:value="${employee.dept_Id}"/>
							</th:block>
						</select>
				
				</div>

 

                                                        <div class="form-group col-md-8">
                                <input type="submit" class="btn btn-primary"
                                    value="Update Employee">

 

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>