<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Users</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<body>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${employees}" class="container my-5">
					<p class="my-5">
						<a href="/employees/signup" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2"> Add Employee</i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">No Students yet!</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										
										<th>Employee ID</th>
										<th>Employee name</th>
										<th>Reward Type</th>
										<th>Department</th>
										<th>Photo</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="i : ${employees}">
										
										<td th:text="${i.emp_Id}"></td>
										<td th:text="${i.emp_Name}"></td>
										<td th:text="${i.reward_Type}"></td>
										<td th:text="${i.dept}"></td>
										<td><img th:src="${'data:image/jpg;charset=utf-8;base64,'+i.data1}" width="200"
                                height="250" /></td>          
									<!--  	<td><img src="data:image/jpg;base64,TjAwMy5qcGc=" alt=""style="width:128px;height:128px;"></td>-->
								  
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>