<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Tabular Form</title>
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

 

                
                <table class="table table-responsive table-bordered table-striped">
                
                    <thead>
                        <tr>
                            <th>Sr_No</th>
                            <th>EmpId</th>
                            <th>Employee Name</th>
                            <th>Reward type</th>
                            <th>Department</th>
                            <th>Photo</th>
                        </tr>
                    </thead>

 

                    <tbody>
                        <tr th:each="i :${employees}">
                            <td th:text="${i.sr_No}"></td>
                            <td th:text="${i.emp_Id}"></td>
                            <td th:text="${i.emp_Name}"></td>
                            <td th:text="${i.reward_Type}"></td>
                            <td th:text="${i.dept}"></td>
                          <!--   <td><img th:src="${'data:image/jpg;charset=utf-8;base64,' + i.image}" alt=""> -->
                            
                        </tr>

 

                    </tbody>
                </table>
            </div>
        </div>
    </div>

 

    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 

</body>
</html>